#page {
    width: 100vw;
    height: 97vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 1.5rem;
}

.logo-container img {
    height: 8rem;
}

.brand-image {
    width: 100%;
}

.logo-container {
    text-align: center;
    margin-bottom: 3.2rem
}

.logo-container h2 {
    font-weight: 500;
    font-size: 2.4rem;
    line-height: 4.6rem;
    margin-top: 0.8rem
}

@media(min-width:1100px) {
    #page-content {
        max-width: 1100px;
        display: grid;
        grid-template-rows: 350px 1fr;
        grid-template-columns: 2fr 1fr 1fr;
        grid-template-areas: "logo book book" "buttons buttons total";
    }
    .logo-container {
        grid-area: logo;
        text-align: left;
        align-self: center;
        margin: 0;
    }
    .logo-container h2 {
        text-align: initial;
        font-size: 3.6rem
    }
    .brand-image {
        grid-area: book;
        justify-self: end;
    }
}

#login {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 1.6rem;
}

#login button {
    width: 100%;
    height: 5.6rem;
    background-color: var(--color-secundary);
    color: var(--color-button-text);
    border: 0;
    border-radius: 0.8rem;
    cursor: pointer;
    font: 700 1.6rem Archivo;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    transition: background-color 0.2s;
    margin-top: 2.8rem;
}

.input-block {
    position: relative;
}

.input-block label {
    font-size: 1.4rem;
}

.input-block input {
    width: 150px;
    height: 5.6rem;
    margin-top: 0.5rem;
    border-radius: 10px;
    background: var(--color-input-background);
    border: 1px solid var(--color-line-in-white);
    outline: 0;
    padding: 0 1.6rem;
    font: 1.6rem Archivo;
}

.input-block:focus-within::after {
    width: calc(100% - 3.2rem);
    height: 2px;
    content: '';
    background: var(--color-primary-light);
    position: absolute;
    left: 1.6rem;
    right: 1.6rem;
    bottom: 0;
}